body{
    width: 350px;
    background-color: #efefef;
}

.post{
    margin: 15px 0px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;

}

.post > *{
    width: 100%;
    margin: 10px 0px;
    display: block;
}

#writePost-text{
    font-size: 1.5em; 
}

#writePost-btn{
    color: #fff;
    font-size: 2em;
    background-color: #33a;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#writePost-btn:hover{
    background-color: #55c;
}

.post-poster{
    font-size: 1.2em;
    font-weight: bold;
}

.post-time{
    font-size: 1.2em;
    color: #999;
}

.post-message{
    margin: 15px 0px;
    font-size: 1.2em;
    color: #555;
}

.post-picture{
    margin: 15px 0px;
    width: 100%;
}

.post-likes{
    font-size: 1.3em;
    color: #55a;
}

.comments{
    margin-top: 7px;
    border-top: 1px solid #ccc;
}

.comment{
    font-size: 1.1em;
    color: #333;
    margin: 10px 0px 0px 0px;
}

.comment img{
    width: 30px;
    height: 30px;
}

.comment span{
    font-weight: bold;
    color: #55a;
}
