body{
    width: 350px;
    background-color: #efefef;
}

.post{
    margin: 15px 0px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;

}

.post-poster{
    font-size: 1.2em;
    font-weight: bold;
}

.post-time{
    color: #555;
}

.post-message{
    margin: 15px
    font-size: 1.2em;
    color: #555;
}

.post-picture{
    margin: 15px 0px;
    width: 100%;
}

.comments{
    margin-top: 7px;
    border-top: 1px solid #ccc;
}

.comment{
    font-size: 1.1em;
    color: #333;
    margin: 10px 0px 0px 0px;
}

.comment img{
    width: 30px;
    height: 30px;
}

.comment span{
    font-weight: bold;
    color: #22e;
}